body
{
	margin: 		0px 0px 0px 0px;
	font-family: 	"Myriad Pro";
}

#top
{
	background-image: 	url("Assets/top.png");
	background-size: 	100% 100%;
	background-repeat: 	no-repeat;
	width: 				100%;
	height: 			189px;
}

#bottom
{
	background-image: 	url("Assets/bottom.png");
	background-size: 	100% 100%;
	background-repeat: 	no-repeat;
	width: 				100%;
	height: 			166px;
}

h1 {
	text-align: center;
}

#middleWrapper
{
	background-image: 	url("Assets/middle.png");
	background-size: 	100% 723px;
	background-repeat: 	repeat-y;
	width: 				100%;
}

#middle
{
	margin-top: 	0px;
	margin-bottom: 	0px;
	padding-left: 	150px;
	padding-right: 	150px;
}

#middle h1 {
	margin-top: 	0px;
	margin-bottom:  0px;
}

#middle p {
	margin-top: 	0px;
	margin-bottom:  0px;
	padding-top: 	10px;
}

#middle h2 {
	margin-bottom: 	0px;
}

#middle ul {
	margin-top: 	0px;
	margin-bottom: 	0px;
}

#content
{
	margin: 		auto;

	min-width: 		768px;
	max-width: 		960px;

	padding-left: 	140px;
	padding-right: 	150px;
	padding-top: 	50px;
	padding-bottom: 75px;
}

canvas
{
	position: 	fixed;
	left: 		0px;
	top: 		0px;
	z-index: 	-1000;
}

.PortfolioImage
{
	position: 	relative;
	height: 	inherit;
	width: 		auto;
	max-width: 	100%;
}