body
{
	margin: 0px 0px 0px 0px;
}

#content
{
	margin: auto;
	margin-top: 50px;
	padding-bottom: 20px;

	min-width: 768px;
	max-width: 960px;

	background-color: #A35200;
}

canvas
{
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1000;
}