html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   position: absolute;

   background-color: #f1f1f1;

   font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
   color: #333333;
}

footer {
	height: 100px;
}

.intro {
	background-image: url("../Assets/Metemp.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	width: 100%;
	min-height: 50%;
	text-align: center;

	position: relative;
}

.intro h1 {
	color: white;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: italic;

	padding-bottom: 5px;
	padding-top: 5px;
	border-width: 3px 0px 3px;
	border-style: solid;
	border-color: white;
}

.introSignature {
	width: 100%;
	position: absolute;
	bottom: 10px;
}

.videoContainer {
	position: relative; 
	margin-bottom: 1em;
}

.videoBackground {
	width: 100%;

	z-index: 0;
	display: block;
}

.videoOverlayHeadline {
	position: relative;
    z-index:5;
}

.videoOverlayContent {
	position: relative;
    z-index:5;
}

h1 {
	margin-top: 5%;
	margin-bottom: 25%;
	text-align: center;
}

.container-fluid {
	padding: 0px;
}

.scoutsTitle {
	width: 100%;
	height: 100%;
	margin-bottom: 10%;
}

.row {
	margin: 0px;
}

.portfolioButtons {
	text-align: center;
	margin-bottom: 15px;
}

.findMeOnTheWebButttons {
	text-align: center;
	margin-bottom: 2em;
}

.findMeOnTheWebButtonImages {
	height: 2em;
}

p {
	margin-top: 10%;
	margin-bottom: 0px;
}

.modalImgHeadline {
	width: 50%;
	margin-left: 25%;
}

.modalBtnClose {
	width: 100%;
}

.close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    cursor: pointer;
}

.close-modal:hover {
    opacity: .3;
}

.close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 25px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 25px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolioItem {
	margin-top: 2em;
}

.portfolioItem a {
	color: inherit;
	text-decoration: inherit;
}

.portfolioClickable {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 1.5em;
	background-color: #ffffff;
}

.portfolioClickable:hover {
	background-color: #e0e0e0;
}

@media (min-width: 992px) {
	h1 {
		margin-bottom: 5%;
	}

	.intro {
		height: 100%;
	}

	.intro h1 {
		width: 50%;
		margin-left: 25%;
	}

	.scoutsTitle {
		margin-bottom: 0px;
		margin-top: 15%;
	}

	.videoOverlay {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 4;
		
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
		height: 100%;
	}

	.videoOverlayContent {
		position: absolute;
		top: 40%;
		
		width: 100%;

		color: white;
		font-size: 1.5em;
	}
}