nav
{
	background-image: 	url("../PortfolioSite/Assets/sign.jpg");
	position: 			fixed;
	top: 				0px;
	width: 				100%;
	height: 			32px;
	text-align: 		center;
	z-index: 			1000;
	padding-left: 		0px;
}

nav a
{
	color: 				#FFFFFF;
}